---
import Button from '@components/app/Button.astro';
import LintCard from '@components/app/home/LintCard/LintCard.astro';
import Icon from '@components/ui/Icon.astro';
import IoGroup from '@components/ui/IoGroup.astro';
import { X } from '@lucide/astro';
import { ID } from './lint-popover.ts';
---

<div id={ID.lintPopoverAnchor} aria-hidden="true"></div>
<aside id={ID.lintPopover} popover role="dialog">
	<LintCard id={ID.lintPopoverCard}>
		<IoGroup>
			<Button
				aria-label="Close"
				popovertarget={ID.lintPopover}
				popovertargetaction="hide"
				title="Close"
			>
				<Icon icon={X} />
			</Button>
		</IoGroup>
	</LintCard>
</aside>

<style>
	#lintPopoverAnchor {
		position: absolute;
		anchor-name: --lint-popover-anchor;
		transition-duration: var(--d-md);
		transition-property: top, left;
	}

	[popover] {
		position: absolute;
		position-area: block-end;
		position-anchor: --lint-popover-anchor;
		position-try-fallbacks:
			block-end inline-start,
			block-end inline-end;
		margin: var(--p-sm);
		padding: 0;
		background-color: transparent;
		border: 0;
		opacity: 0;
		transition-duration: var(--d-md);
		transition-property: display, opacity;
		transition-behavior: allow-discrete;
	}

	[popover]:popover-open {
		opacity: 1;
	}

	@starting-style {
		[popover]:popover-open {
			opacity: 0;
		}
	}
</style>

<script>
	import { updateLintCardById } from '@components/app/home/LintCard/lint-card-client.ts';
	import { $lintPopover } from '@stores/index.ts';
	import { getDefinedElementById } from '@utils/index.ts';
	import { ID } from './lint-popover.ts';

	const lintPopover = getDefinedElementById(ID.lintPopover);
	const lintPopoverAnchor = getDefinedElementById(ID.lintPopoverAnchor);

	$lintPopover.subscribe(({ x, y, lint }) => {
		if (!lint) {
			lintPopover.hidePopover();

			return;
		}

		updateLintCardById(ID.lintPopoverCard, lint);

		lintPopoverAnchor.style.left = `${x}%`;
		lintPopoverAnchor.style.top = `${y}%`;

		lintPopover.showPopover();
	});
</script>
