---
import InputGroup from '@components/ui/InputGroup.astro';
import LinkWrapper from '@components/ui/LinkWrapper.astro';
import { LOCALE } from '@config/locale.ts';
import { getLocale, getLocaleInfo, getLocaleMessages } from '@i18n/index.ts';
import { entriesOf } from '@utils/index.ts';
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { WithChildren } from '../../types.ts';
import Button from './Button.astro';
import ExperimentalIcon from './ExperimentalIcon.astro';

/**
 * Props for the locale selector component.
 *
 * Explicitly disallows children as locale entries are generated from config.
 */
type Props = WithChildren<false>;

const currentLocaleId = getLocale(Astro);
const msg = getLocaleMessages(currentLocaleId).locales;
---

<InputGroup
	id={LOCALE.id}
	title={msg.title}
	role="radiogroup"
	aria-required="true"
>
	{
		entriesOf(LOCALE.map)
			.map(([id, config]) => ({
				id,
				config,
				info: getLocaleInfo(id, config.regionId),
			}))
			.sort((a, b) =>
				a.info.languageName.localeCompare(b.info.languageName, currentLocaleId),
			)
			.map(({ id, config, info }) => {
				const { wip, rtl } = config;
				const { flag, languageName, regionName } = info;

				return (
					<LinkWrapper to={getRelativeLocaleUrl(id)} {id}>
						<Button
							as="div"
							role="radio"
							aria-checked={id === currentLocaleId}
							showEnabledIcon
						>
							{flag}
							<bdo dir={rtl ? 'rtl' : 'ltr'}>{languageName}</bdo>
							{regionName && `(${regionName})`}
							{wip && <ExperimentalIcon />}
						</Button>
					</LinkWrapper>
				);
			})
	}
</InputGroup>

<script>
	import { LOCALE } from '@config/locale.ts';
	import { getDefinedElementById, keysOf } from '@utils/index.ts';

	const anchors = keysOf(LOCALE.map).map(
		getDefinedElementById<HTMLAnchorElement>,
	);

	for (const anchor of anchors) {
		anchor.addEventListener('click', () => (anchor.href += location.search), {
			once: true,
		});
	}
</script>
